/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/
body,
html {
	width: 100vw;
	overflow-x: hidden;
	height: 100vh;
	background-color: rgb(240 240 237);
}

.container {
	width: 100vw;
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.container .image>img {
	width: 100%;
	height: auto;
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.container .image {
	box-sizing: border-box;
	padding-top: 50px;
	padding-left: 50px;
}

.container .home-page-word {
	z-index: 2;
	right: 2%;
	top: 0;
	bottom: 0;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.container .home-page-word h1 {
	font-family: 'Loved by the King', cursive;
	font-size: 40px;
	color: #83702E;
	text-align: center;
	line-height: 55px;
}

.container .home-page-word .function {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.container .home-page-word .function .mid {
	display: flex;
	margin: 20px 0;
}

.container .home-page-word .function .mid .inp {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.container .home-page-word .function .mid .inp input {
	margin-top: 10px;
}

.container .home-page-worder .bottom {
	display: flex;
}

.container .home-page-word .function .bottom {
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding-left: 15px;
}

.container .home-page-word .button {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	display: block;
	width: 100px;
	height: 30px;
	background-color: #fff;
	border: 3px solid #000;
	color: #222;
	line-height: 30px;
	text-align: center;
	border-radius: 10px;
}


.container .home-page-word img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.container .home-page-worder {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-right: 50px;
	padding-left: 50px;
}

.container .home-page-worder span {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	display: block;
	margin: 10px 0;
}


.container .home-page-worder .bottom a {
	font-family: 'Indie Flower', cursive;
	width: 50px;
	height: 30px;
	border: 3px solid #000;
	text-align: center;
	line-height: 33px;
	cursor: pointer;
	border-radius: 10px;
}

.container .home-page-worder .bottom a:nth-of-type(1) {
	font-weight: bold;
}

.container .home-page-worder .bottom a:nth-of-type(2) {
	margin-left: 30px;
	background: url("../images/Icon/Play-pause.png") center/50% no-repeat;
}

input[type="range"] {
	height: 4px;
	background: #000;
	border-radius: 100px;
	outline: none;
}

input[type="range"]::-moz-range-thumb {
	background: #fff;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 16px;
	height: 16px;
	background: #fff;
	box-sizing: border-box;
	border: 3px solid #000;
	border-radius: 50%;
	cursor: pointer;
}

/* This uses the same value as --size-xs. */
@media screen and (width <=877px) {
	.container .home-page-word {
		flex-direction: column;
		row-gap: 15px;
	}

	#background {
		width: 100%;
		height: 60vh;
		overflow: hidden;
		position: relative;
	}

	#background #background-image {
		height: 100%;
		width: auto;
		position: absolute;

		/* 绝对定位 */
		left: 20%;

		/* 水平居中 */
		top: 50%;

		/* 垂直居中 */
		transform: translate(-20%, -50%);

		/* 同时水平和垂直居中图片 */
	}

	.container .home-page-worder {
		position: relative;
		height: 40vh;
	}
}

@media screen and (width >=877px) and (width <=1200px) {
	#background {
		width: 100%;
		height: 60vh;
		overflow: hidden;
		position: relative;
	}

	#background #background-image {
		width: 100%;
		height: auto;
		min-height: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.home-page-word {
		position: relative;
		height: 40vh;
		width: 100%;
		column-gap: 125px;
	}

	.title {
		grid-column: 1 / 2;
		justify-content: center;
		align-items: center;
	}

	.function {
		grid-column: 2 / 2;
		display: grid;
		grid-template-rows: 1fr 1fr;
		justify-content: center;
		align-items: center;
	}

	.container .home-page-worder {
		position: relative;
		height: 40vh;
	}
}

@media screen and (width >=1200px) {
	.container .home-page-word {
		position: absolute;
		display: flex;
		flex-direction: column;
	}
}