/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/
:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

/*
 CSS doesn't allow variables to be used in media
 queries just yet, but you can use these values
 to help you out.

	 --size-xs: 320px;
	 --size-sm: 480px;
	 --size-md: 768px;
	 --size-lg: 1024px;
	 --size-xl: 1200px;
 */
body,
html {
	width: 100vw;
	overflow-x: hidden;
	height: 100vh;
}

.container {
	width: 100vw;
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.container img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.container .image,
.container .image img {
	width: 100%;
	height: 100%;
	margin-top: 0;
}

.container .image {
	box-sizing: border-box;
	padding-top: 50px;
}


.container #home-page-word {
	position: relative;
	z-index: 2;
	min-width: 80%;
	max-width: 80%;
	height: 120px;
	border-radius: 1000px;
	background-color: rgb(215 253 105 / 76%);
	color: #83702E;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 50px;
	margin: 0 auto;
}

.container a {
	display: block;
	width: 139px;
	height: 64px;
	background-color: #fff;
	border: 3px solid #000;
	color: #222;
	line-height: 64px;
	text-align: center;
	border-radius: 4px;
}

/* This uses the same value as --size-xs. */
@media screen and (width <=576px) {
	.image,
	img {
		height: 60vh !important;
	}

	.image {
		padding-top: 30px !important;
	}

	#home-page-word {
		font-size: 26px !important;
		display: inline-block !important;
		min-width: 0 !important;
		height: 70px !important;
		text-align: center;
		box-sizing: border-box;
		padding-top: 10px;
		margin-left: 30px !important;
	}

	#home-page-word a {
		display: none;
	}

	.under {
		width: 100%;
		height: 40vh;
		background-color: #A19260;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (width >=576px) and (width <=1200px) {
	.image,
	img {
		height: 60vh !important;
	}

	.image {
		padding-top: 30px !important;
	}

	#home-page-word {
		margin: 0 0 0 50px !important;
		font-size: 35px !important;
		height: 70px !important;
		min-width: 0 !important;
		display: inline-block !important;
		line-height: 70px;
	}

	#home-page-word a {
		display: none;
	}

	.under {
		width: 100%;
		height: 40vh;
		background-color: #A19260;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}