/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/
body,
html {
	width: 100vw;
	overflow-x: hidden;
	height: 100vh;
}

.container {
	width: 100vw;
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.container img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.container .image img {
	width: 100%;
	height: 100%;
	margin-top: 0;
}

.container .image {
	box-sizing: border-box;
	padding-top: 50px;
	padding-left: 50px;
}

.container #home-page-word {
	position: relative;
	z-index: 2;
	min-width: 40%;
	max-width: 40%;
	height: 160px;
	border-radius: 1000px;
	background-color: rgb(215 253 105 / 76%);
	color: #83702E;
	font-size: 38px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 50px;
}

.container #menu-page-word {
	position: absolute;
	z-index: 2;
	right: 180px;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container #menu-page-word a {
	display: block;
	width: 180px;
	height: 104px;
	background-color: #fff;
	border: 3px solid #000;
	color: #222;
	line-height: 104px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 30px;
}

.container #menu-page-word a:last-of-type {
	margin-bottom: 0;
}

/* This uses the same value as --size-xs. */
@media screen and (width <=576px) {
	#menu-page-word {
		display: none !important;
	}

	#home-page-image {
		padding-left: 20px !important;
	}

	#home-page-word {
		font-size: 26px !important;
		min-width: 0 !important;
		height: 70px !important;
		max-width: 80vw !important;
		width: 80vw;
		text-align: center;
		box-sizing: border-box;
		padding-top: 10px;
		margin-left: 10px !important;
	}

	.image,
	img {
		height: 60vh !important;
	}

	.under {
		width: 100%;
		height: 40vh;
		background-color: #A19260;
	}

	.under section {
		width: 100%;
		height: 50%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.under section a {
		width: 90px;
		height: 42px;
		background-color: #fff;
		border: 3px solid #000;
		color: #222;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 4px;
	}
}

@media screen and (width >=576px) and (width <=1200px) {
	#menu-page-word {
		display: none !important;
	}

	#home-page-word {
		font-size: 26px !important;
		min-width: 0 !important;
		height: 70px !important;
		max-width: 80vw !important;
		width: 30vw;
		text-align: center;
		box-sizing: border-box;
		padding-top: 10px;
		margin-left: 10px !important;
	}

	.image,
	img {
		height: 60vh !important;
	}

	.under {
		width: 100%;
		height: 40vh;
		background-color: #A19260;
	}

	.under section {
		width: 100%;
		height: 50%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.under section a {
		width: 160px;
		height: 50%;
		background-color: #fff;
		border: 3px solid #000;
		color: #222;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
	}
}