/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

body,
html {
	width: 100vw;
	overflow-x: hidden;
	height: 100vh;
	background-color: #A19260;
}

.container {
	width: 100vw;
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.container img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.container .image img {
	width: 100%;
	height: auto;
	margin-top: 0;
}

.container .image {
	box-sizing: border-box;
	padding-top: 50px;
	padding-left: 50px;
}

.container #home-page-word {
	font-family: 'Loved by the King', cursive;
	font-size: 45px;
	color: #83702E;
	position: relative;
	z-index: 2;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	background-color: rgb(215 253 105 / 76%);
	border-radius: 50px;
	padding: 30px;
	left: 10%;
}

.container #menu-page-word {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	position: absolute;
	z-index: 2;
	right: 10%;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container #menu-page-word a {
	width: 180px;
	height: 104px;
	background-color: #fff;
	border: 3px solid #000;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 20px;
	margin-bottom: 30px;
}

.container #menu-page-word a:last-of-type {
	margin-bottom: 0;
}

/* This uses the same value as --size-xs. */
@media screen and (width <843px) {
	#menu-page-word {
		display: none !important;
	}

	#home-page-image {
		padding-left: 20px !important;
		width: 100%;

		/* 容器宽度为视口宽度的 100% */
		height: 60vh;

		/* 容器高度为视口高度的 60% */
		overflow: hidden;

		/* 隐藏超出容器的部分 */
		position: relative;

		/* 相对定位，便于调整图片位置 */
	}

	#home-page-word {
		font-size: 35px !important;
		text-align: center;
		min-width: 0 !important;
		max-width: 80vw !important;
		width: 30vw;
		margin-left: 10px !important;
	}


	#home-page-image img {
		height: 100%;
		width: auto;
		position: absolute;

		/* 绝对定位 */
		left: 20%;

		/* 水平居中 */
		top: 50%;

		/* 垂直居中 */
		transform: translate(-20%, -50%);

		/* 同时水平和垂直居中图片 */
	}

	.under {
		width: 100%;
		height: 40vh;
		background-color: #A19260;
	}

	.under section {
		width: 100%;
		height: 50%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.under section a {
		font-family: 'Indie Flower', cursive;
		font-size: 26px;
		width: 160px;
		height: 50%;
		background-color: #fff;
		border: 3px solid #000;
		color: #222;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 20px;
	}
}

@media screen and (width >=843px) and (width <=1200px) {
	#menu-page-word {
		display: none !important;
	}

	#home-page-word {
		display: flex;
		font-size: 35px !important;
		min-width: 0 !important;
		max-width: 80vw !important;
		width: 30vw;
		text-align: center;
		margin-left: 10px !important;
	}

	#home-page-image {
		width: 100%;

		/* 容器宽度为视口宽度的 100% */
		height: 60vh;

		/* 容器高度为视口高度的 60% */
		overflow: hidden;

		/* 隐藏超出容器的部分 */
		position: relative;

		/* 相对定位，便于调整图片位置 */
	}

	#home-page-image img {
		width: 100%;

		/* 图片宽度自动调整以保持比例 */
		height: auto;

		/* 图片高度填满容器高度 */

		/* 确保图片宽度至少与容器宽度相同 */
		min-height: 100%;
		position: absolute;

		/* 绝对定位 */
		left: 50%;

		/* 水平居中 */
		top: 50%;

		/* 垂直居中 */
		transform: translate(-50%, -50%);

		/* 同时水平和垂直居中图片 */
	}


	.under {
		width: 100%;
		height: 40vh;
		background-color: #A19260;
	}

	.under section {
		width: 100%;
		height: 50%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.under section a {
		font-family: 'Indie Flower', cursive;
		font-size: 26px;
		width: 160px;
		height: 50%;
		background-color: #fff;
		border: 3px solid #000;
		color: #222;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 20px;
	}
}